<!DOCTYPE html>
<html ng-app="app">
    <head>
    <!--
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        -->
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <link rel="stylesheet" type="text/css" href="css/option.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <title>Wheel</title>
    </head>
    <body ng-controller="GameController">

        <!-- Game page -->
        <div id="game" class="panel left container">
            <!-- Wheel -->
            <div id="wheel" ng-click="turn()">
                <!-- Arrow -->
                <div id="arrow" class="round" ng-style="rotation"></div>
                <div id="center" class="round"></div>
                <!-- Players -->
                <div ng-repeat="(key, player) in players">
                    <span class="player round" ng-style="stylePlayers[{{key}}]">{{ player }}</span>
                    <div class="drawbar round" ng-style="styleDrawbar[{{key}}]"></div>
                </div>
            </div>

            <!-- Message -->
            <div id="message" class="col-md-12">
                {{message.content}}
            </div>
        </div>

        <!-- Option page -->
        <div id="option" class="panel container">
            <div id="accordion" role="tablist">
                <!-- Player form -->
                <div class="card">
                    <div class="card-header" role="tab" data-toggle="collapse" href="#players-form" role="button" aria-expanded="true" aria-controls="players-form">
                        <div class="card-title">Joueurs</div>
                    </div>

                    <div id="players-form" class="collapse show" role="tabpanel" data-parent="#accordion">
                        <div class="card-body">
                            <div ng-include="'players.html'"></div>
                        </div>
                    </div>
                </div>

                <!-- Rules form -->
                <div class="card">
                    <div class="card-header collapsed" role="tab" data-toggle="collapse" href="#rules-form" role="button" aria-expanded="false" aria-controls="rules-form">
                        <div class="card-title">Règles</div>
                    </div>
                    <div id="rules-form" class="collapse" role="tabpanel" data-parent="#accordion">
                        <div class="card-body">
                          <div ng-include="'rules.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation menu -->
        <nav class="navbar fixed-bottom">
            <button id="btnGame" class="btn-game col" ng-click="change('game')"></button>
            <button id="btnOption" class="btn-option col active" ng-click="change('option')"></button>
        </nav>

        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
