<!-- Display all rules -->
<div class="row">
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="msg in messages| orderBy:['active','content']" >
                <td class="col-md-12" ng-class="msg.active ? '' : ''">
                    <input type="checkbox" name="checkbox" id="{{msg.id}}" ng-checked="{{msg.active}}" ng-click="updateMessage(msg)"/>
                    <label for="{{msg.id}}">{{msg.content}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <form ng-submit="newMessage(messageContent)" class="new form-inline">
                        <input type="text" class="newInput col-sm-10 col-xs-9" ng-model="messageContent" placeholder="Nouveau message" />
                        <button class="newButton btn btn-danger col-sm-2 col-xs-3">Valider</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
