@charset "utf-8";
/* CSS Document */

#wheel {
  height: 400px;
  margin: 40px auto;
  position: relative;
  width: 400px;
}

#wheel:before {
  border-radius:50%;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0.5em solid rgb(211,72,54);
  box-shadow: inset 0 0 3em rgb(100, 33, 28);
}

#arrow {
  position: absolute;
  left: 198px;
  top: 25px;
  height: 180px;
  border: 2px solid rgba( 110,150,180,0.8);
  border-radius: 50%;
  transform-origin: 50% 175px;
  -webkit-transform-origin: 50% 175px;
  -o-transform-origin: 50% 175px;
}

#center {
  position: absolute;
  left: 194px;
  top: 194px;
  border: 6px solid rgba(255,255,255,0.6);
  border-radius: 50%;
  background-color: rgba(211,72,54, 0.6);
}

.player {
  height: 10px;
  width: 110px;
  text-align: center;
  line-height: 10px;
  top: 195px;
  left: 145px;
  color: #3A5486;
}

.drawbar {
  height: 180px;
  width: 2px;
  left: 199px;
  top: 25px;
  background-color: rgba(211,72,54, 0.6);
  transform-origin: 50% 175px;
  -webkit-transform-origin: 50% 175px;
  -o-transform-origin: 50% 175px;
}

.round {
  position: absolute;
  border-radius: 50%;
}

#message {
	text-align:center;
	font-size:1.5em;
}

@keyframes clignot {
  0%   {opacity:1; border-radius:50%; box-shadow: inset 0 0 1em rgb(100, 33, 28);}
  100% {opacity:0; border-radius:50%; box-shadow: inset 0 0 20em rgb(100, 33, 28);}
}

@media (orientation: landscape){
}

