@charset "utf-8";
/* CSS Document */

.card {
  border: none;
}

.card  > .card-header {
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 1.5em;
}

.card > .card-header:after {
  content: '-';
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.card > .card-header.collapsed:after {
  content: '+';
}

.card > .card-header.collapsed {
  color: #888;
}

.card-body {
  background-color: rgba(0,0,0,.03);
}

.table tr:last-child td,
.table tr:first-child td {
  border-top: none;
}


form {
  margin:40px 0;
}

.newInput {
	font-size:     1.4em;
	margin-bottom: 5px;
	padding-right: 5px;
	border:        none;
	border-bottom: 1px solid black;
	font-family:   Verdana;
  background:    transparent;
}

.remove {
  border:        none;
  cursor:        pointer;
  padding-right: 20px;
  color:         rgb(211,72,54);
  background:    transparent;
}

input[type="checkbox"]:empty {
  display: none;
}

/* label style */
input[type="checkbox"]:empty ~ label {
  border: none !important;
  width: 100%;
  position: relative;
  line-height: 2.5em;
  padding-left: 3.5em;
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

 input[type="checkbox"]:checked ~ label,
 input[type="button"] ~label {
  color: #666;
}

/* check style */
input[type="checkbox"] ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '\2714';
  text-indent: .9em;
  width: 2.5em;
  height:2.5em;
  background: #D1D3D4;
  border-radius:50%;
}

input[type="checkbox"]:empty ~ label:before {
  color: #C2C2C2;
}

input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
