@charset "utf-8";
/* CSS Document */

body, button, input, textarea {
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body{
	background: rgb(251,251,251); 
  overflow-x: hidden;
}

/* main */
.panel{
	-webkit-overflow-scrolling: touch;
	transition:                 1s;
  z-index:                    1;
  position:                   absolute;
  transform:                  translate3d(0%,0px,0px);
  width:                      100%;
  left:                       0;
  right:                      0;
  overflow:                   no-display;
}

.left {
	left: -200%;
}

.right {
  overflow-y: scroll;
  right: -200%;
}

.nav{
	position: fixed;
	right:    0;
	left:     0;
	bottom:   0;
  z-index:  2;
}

.btn-game {
  background: url("../img/game-icon.png") no-repeat center;
  border-left:none;
  border-right:1px solid rgb(50,50,50);
}

.btn-option {
  background: url("../img/option-icon.png") no-repeat center;
  border-right:none;
  border-left:1px solid rgb(50,50,50);
}

.btn-game,
.btn-option {
  height:           60px;
  background-size:  45px;
  background-color: rgb(211,72,54);
  border-bottom:    none;
  border-top:       4px solid #d34836;
}

.active {
  border-top: 4px solid green;
}
