@charset "utf-8";
/* CSS Document */

body, button, input, textarea {
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body{
	background: rgb(251,251,251); 
    overflow-x:hidden;
    //overflow-y:hidden;
}

/* main */
.panel{
	-webkit-overflow-scrolling:touch;
	transition:1s;
    z-index: 1;
    position: absolute;
    transform:translate3d(0%,0px,0px);
    width:100%;
    left:0;
    right:0;
    overflow:no-display;
}

.left {
	left:-200%;
}

.right {
    overflow-y:scroll;
    right:-200%;
}

.nav{
	position:fixed;
	right:0;
	left:0;
	bottom:0;
    z-index:2;
}

.btn-game {
    background: url("../img/game-icon.png") no-repeat center;
    border-left:none;
    border-right:1px solid rgb(50,50,50);
}

.btn-option {
    background: url("../img/option-icon.png") no-repeat center;
    border-right:none;
    border-left:1px solid rgb(50,50,50);
}

.btn-game,
.btn-option {
    height:60px;
    background-size:45px;
    background-color:rgb(211,72,54);
    border-bottom:none;
    border-top:4px solid #d34836;
}

.active {
    border-top: 4px solid green;
}

/* game page*/
#wheel{
	position:relative;
    z-index:2;
	padding:0;
    margin:auto;
	margin-bottom: 30px;
	border-radius:50%;
	border: 1em solid rgb(211,72,54);
	box-shadow: inset 0 0 3em rgb(100, 33, 28);
}

#wheel:before {
    content: "";
    display: block;
    padding-bottom: 100%;
	animation: clignot 5s linear 2s infinite alternate;
}

#arrow{
	position: absolute;
	/*height: 1px;*/
	width: 80%;
	top: 0;
	left: 0;
	border:1px solid black;
	margin-top: 50%;
	margin-left: 10%;
	background-color: rgb(51,51,51);
	box-shadow: rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
	transition:all 4s;
}

#arrow:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	margin-top:-14px;
	margin-left:-10px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 30px solid rgb(51,51,51);
	transform:rotate(-90deg);

}

.choice {
    /*display:none;*/
	position:absolute;
	top:0;
	left:0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 30px solid rgb(51,51,51);
}

#message {
	text-align:center;
	font-size:2em;
}

@keyframes clignot {
    0%   {opacity:1; border-radius:50%; box-shadow: inset 0 0 1em rgb(100, 33, 28);}
    100% {opacity:0; border-radius:50%; box-shadow: inset 0 0 20em rgb(100, 33, 28);}
}

/* option page*/
form {
    margin:5% 0 150px 0;
}

.newInput {
	height: 30px;
	padding-left:2%;
	font-size: 1.4em;
	border: none;
	border-bottom: 1px solid black;
	border-radius:0;
	font-family: Verdana;
	box-shadow:none !important;
}



input[type="checkbox"]:empty {
  display: none;
}

/* label style */
input[type="checkbox"]:empty ~ label {
  border: none !important;
  width: 100%;
  position: relative;
  line-height: 2.5em;
  padding-left: 3.5em;
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

 input[type="checkbox"]:checked ~ label {
  color: #666;
}


/* check style */
input[type="checkbox"] ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '\2714';
  text-indent: .9em;
  width: 2.5em;
  height:2.5em;
  background: #D1D3D4;
  border-radius:50%;
}

input[type="checkbox"]:empty ~ label:before {
  color: #C2C2C2;
}

input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}







@media (orientation: landscape){
#wheel{
	width:30%;
	height:40%;
	margin: 2% 35% 2% 35%;
}

}





@media (max-width: 320px) {
	.newInput,
	.newButton {
		display:block;
		width:100% !important;
		margin-bottom:5px;
	}
}
